* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  background-color: #151320;
  height: 100vh;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: #000;
}

.link {
  width: 180px;
  height: 140px;
  border: 1px solid red;
  display: flex;
  align-items: center;
}

.link img {
  margin-right: 10px;
}

/*  Swiper  */

.swiper-container {
  width: 1170px;
  background: #0c5460;
}

.swiper-wrapper {
  padding: 40px 0;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /*width: 300px!important;*/
  height: 200px;
  margin-right: 10px;

  /* Center slide text vertically */

  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-button-prev,
.swiper-button-next{
  top: 40%;
}

.arrow-left,
.arrow-right  {
  display: block;
  position: absolute;
  top: 50%;
  width: 20px;
  height: 20px;
  background: #4ce2ff;
}

.arrow-left {
  left: 50px;
}

.arrow-right {
  right: 50px;
}
