<section class="about">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="about__wrapper">
          <div class="about__wrapper-card">
            <div class="about__wrapper-icon">
              <img src="./assets/images/user.png" alt="Icon" />
            </div>
            <div class="about__wrap-text">
              <h2 class="about__wrapper-title">90+</h2>
              <p class="about__wrapper-text">users</p>
            </div>
          </div>
          <div class="about__wrapper-card">
            <div class="about__wrapper-icon">
              <img src="./assets/images/location.png" alt="Icon" />
            </div>
            <div class="about__wrap-text">
              <h2 class="about__wrapper-title">30+</h2>
              <p class="about__wrapper-text">locations</p>
            </div>
          </div>
          <div class="about__wrapper-card">
            <div class="about__wrapper-icon">
              <img src="./assets/images/server.png" alt="Icon" />
            </div>
            <div class="about__wrap-text">
              <h2 class="about__wrapper-title">50+</h2>
              <p class="about__wrapper-text">servers</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
