<section class="network">
  <div class="container">
    <div class="row d-flex justify-content-center network__header">
      <div class="col-12 col-md-9 col-lg-6">
        <h2 class="main__title">Huge Global Network of Fast VPN</h2>
        <p class="main__text">
          See LaslesVPN everywhere to make it easier for you when you move
          locations.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="network__wrapper">
          <img
            src="./assets/images/map.png"
            alt="Map"
            class="network__wrapper-img"
          />
        </div>
      </div>
    </div>
  </div>
</section>
