<section class="provide">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 mb-5 mb-md-0">
        <div class="provide__img">
          <img src="./assets/images/provide.png" alt="Provide" />
        </div>
      </div>
      <div class="col-12 col-md-6 offset-lg-1 col-lg-5">
        <div class="provide__wrapper">
          <h2 class="provide__wrapper-title">
            we provide many features you can use
          </h2>
          <p class="provide__wrapper-text">
            You can explore the features that we provide with fun and have their
            own functions each feature.
          </p>
          <ul class="provide__wrapper-list">
            <li class="provide__wrapper-item">
              <div class="icon">
                <img src="./assets/images/checked.svg" alt="Checked" />
              </div>
              Powerfull online protection.
            </li>
            <li class="provide__wrapper-item">
              <div class="icon">
                <img src="./assets/images/checked.svg" alt="Checked" />
              </div>
              Internet without borders.
            </li>
            <li class="provide__wrapper-item">
              <div class="icon">
                <img src="./assets/images/checked.svg" alt="Checked" />
              </div>
              Supercharged VPN
            </li>
            <li class="provide__wrapper-item">
              <div class="icon">
                <img src="./assets/images/checked.svg" alt="Checked" />
              </div>
              No specific time limits.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
