<section class="sponsored">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="sponsored__wrapper">
          <div class="sponsored__wrapper-block">
            <img src="./assets/images/netflix.png" alt="Netflix" />
          </div>
          <div class="sponsored__wrapper-block">
            <img src="./assets/images/reddit.png" alt="Reddit" />
          </div>
          <div class="sponsored__wrapper-block">
            <img src="./assets/images/amazon.png" alt="Amazon" />
          </div>
          <div class="sponsored__wrapper-block">
            <img src="./assets/images/discord.png" alt="Discord" />
          </div>
          <div class="sponsored__wrapper-block">
            <img src="./assets/images/spotify.png" alt="Spotify" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
