<header class="header">
  <div class="header__menu">
    <div class="container">
      <div class="header__menu-body">
        <button class="header__humburger">
          <span></span>
          <span></span>
          <span></span>
        </button>
        <div class="header__nav">
          <ul class="header__nav-list">
            <li><a href="#" class="header__nav-link">Главная</a></li>
            <li><a href="#" class="header__nav-link">Наши проекты</a></li>
            <li><a href="#" class="header__nav-link">Услуги</a></li>
            <li><a href="#" class="header__nav-link">Новости</a></li>
            <li><a href="#" class="header__nav-link">Контакты</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container header__height">
    <div class="header__wrapper">
      <h1 class="header__title">Передовая IT студия</h1>
      <p class="header__text">
        Мы создаем легкие решения сложных задач и проблем
      </p>
      <button class="main__btn">Наши проекты</button>
    </div>
  </div>
</header>