.header {
  padding-top: 4.5rem;

  &__title {
    font-size: 5rem;
    font-weight: 500;
    line-height: 70px;
    margin-bottom: 2rem;
    padding-top: 2.8rem;
    span {
      font-weight: 700;
    }
  }

  &__text {
    color: $gray;
    font-weight: 400;
    margin-bottom: 5rem;
    span {
      font-weight: 500;
    }
  }

  &__btn {
    display: block;
    width: 250px;
    height: 60px;
    background-color: $red;
    color: $white;
    font-weight: 700;
    text-transform: capitalize;
    border: none;
    border-radius: 10px;
    box-shadow: 0 25px 35px rgba(#f53838, 0.35);
  }

  &__img {
    @include padding-hack(62.6%, cover);
  }
}

@include media($lg) {
  .header {
    padding-top: 3rem;

    &__title {
      font-size: 4.3rem;
      line-height: 50px;
    }
    &__text {
      margin-bottom: 2.4rem;
    }
  }
}

@include media($md) {
  .header {
    padding-top: 2.5rem;

    &__title {
      font-size: 3.4rem;
      margin-bottom: 1rem;
    }
    &__text {
      margin-bottom: 2.4rem;
    }
    &__btn {
      margin: 0 auto;
    }
  }
}

@include media($sm) {
  .header {
    text-align: center;
    &__title {
      font-size: 2.6rem;
      line-height: 30px;
    }
    &__text {
      margin-bottom: 2rem;
    }
  }
}

@include media($m) {
  .header {
    &__title {
      font-size: 3rem;
    }
  }
}

@include media($m320) {
  .header {
    &__title {
      font-size: 2.5rem;
    }
  }
}
