.network {
  padding-top: 12rem;

  @include media($lg) {
    padding-top: 10rem;
  }
  @include media($md) {
    padding-top: 8rem;
  }
  @include media($sm) {
    padding-top: 5rem;
  }
  @include media($m414) {
    padding-top: 3rem;
  }
  &__header {
    margin-bottom: 12rem;

    @include media($lg) {
      margin-bottom: 7rem;
    }
    @include media($md) {
      margin-bottom: 6rem;
    }
    @include media($sm) {
      margin-bottom: 4rem;
    }
    @include media($m414) {
      margin-bottom: 3rem;
    }
  }
  &__wrapper {
    @include padding-hack(50.8%, cover);
  }
}
