.plan {
  padding: 8rem 0;
  background-color: #f6f6f6;
  @include media($lg) {
    padding: 5rem 0;
  }
  &__header {
    margin-bottom: 6rem;

    @include media($lg) {
      margin-bottom: 5rem;
    }
    @include media($md) {
      margin-bottom: 4rem;
    }
  }

  &__card {
    position: relative;
    background-color: $white;
    padding: 8rem 7rem 3rem;
    min-height: 760px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid $silver;
    border-radius: 10px;
    transition: border-color 0.3s ease;
    &:hover {
      border-color: $red;
    }

    @include media($lg) {
      padding: 5rem 5rem 3rem;
      min-height: 710px;
    }
    @include media($md) {
      padding: 3rem 1.5rem 3rem;
      min-height: 690px;
    }
    @include media($sm) {
      padding: 3rem 1.5rem 3rem;
      min-height: 670px;
    }
    @include media($m375) {
      min-height: 650px;
    }
    @include media($m320) {
      padding: 1.5rem 1.5rem 1.5rem;
      min-height: 100vh;
    }
    &-img {
      margin-bottom: 3rem;

      @include media($lg) {
        margin-bottom: 2.5rem;
      }
      @include media($m320) {
        margin-bottom: 1.5rem;
      }
    }
    &-text {
      font-size: $s18;
      font-weight: 500;
      text-transform: capitalize;
      color: $dark-black;
      margin-bottom: 3rem;

      @include media($lg) {
        margin-bottom: 2rem;
      }
      @include media($m320) {
        margin-bottom: 1rem;
      }
    }
    &-item {
      display: flex;
      align-items: center;
      margin-bottom: 1rem;
      &:last-child {
        margin-bottom: 0rem;
      }
      @include media($m320) {
        margin-bottom: 0.5rem;
      }
      span {
        margin-right: 2.5rem;
      }
      p {
        font-size: $s14;
        color: $gray;
        margin-bottom: 0;
      }
    }
    &-price {
      display: block;
      position: absolute;
      bottom: 115px;
      left: 50%;
      transform: translateX(-50%);
      font-size: $s25;
      font-weight: 500;
      color: $dark-black;
      text-transform: capitalize;

      @include media($m320) {
        bottom: 75px;
      }
      span {
        color: $gray;
        text-transform: lowercase;
        font-weight: 400;
      }
    }
    &-btn {
      width: 177px;
      display: block;
      position: absolute;
      bottom: 50px;
      left: 50%;
      transform: translateX(-50%);
      border: 2px solid $red;
      border-radius: 50px;
      background-color: $white;
      color: $red;
      font-weight: 700;
      text-transform: capitalize;
      padding: 13px 0;
      transition: all 0.3s ease;
      &:hover {
        background-color: $red;
        color: $white;
        box-shadow: 0 15px 35px rgba($red, 0.35);
      }

      @include media($m320) {
        bottom: 20px;
      }
    }
  }
}
