.sponsored {
  padding-top: 3.5rem;
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-block {
      display: block;
      width: 190px;
    }
  }
}
