//  Colors:

$white:     #ffffff;
$black:     #000000;
$dark:      #323232;
$grey:      #999999;
$lightGrey: #E0E0E0;
$blue:      #4985FF;

//  Size:

$s14: 1.4rem;
$s16: 1.6rem;
$s18: 1.8rem;
$s36: 3.6rem;
$s48: 4.8rem;