<header class="header">
  <nav class="header__nav">
    <div class="container">
      <div class="row d-flex align-items-center">
        <div class="col-xl-2">
          <a href="#" class="header__nav-logo">
            <img src="./assets/images/logo.png" alt="Logo" class="header__nav-img">
          </a>
        </div>
        <div class="offset-xl-1 col-xl-5">
          <ul class="header__nav-list">
            <li class="header__nav-item">
              <a href="#" class="header__nav-link">about</a>
            </li>
            <li class="header__nav-item">
              <a href="#" class="header__nav-link">features</a>
            </li>
            <li class="header__nav-item">
              <a href="#" class="header__nav-link">pricing</a>
            </li>
            <li class="header__nav-item">
              <a href="#" class="header__nav-link">testimonials</a>
            </li>
            <li class="header__nav-item">
              <a href="#" class="header__nav-link">help</a>
            </li>
          </ul>
        </div>
        <div class="col-xl-4">
          <button class="header__nav-btn">sign in</button>
          <button class="header__nav-btn">sign up</button>
        </div>
      </div>
    </div>
  </nav>
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <h1 class="header__title">Want anything to be easy with <span>LaslesVPN.</span></h1>
            <p class="header__text">Provide a network for all your needs with ease and fun using <span>LaslesVPN</span>  discover interesting features from us.</p>
            <button class="header__btn">get started</button>
          </div>
          <div class="col-lg-6">
            <div class="header__img">
              <img src="./assets/images/header-img.png" alt="Img">
            </div>
          </div>
        </div>
      </div>
</header>
