<header class="header">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 order-2 order-lg-1">
        <h1 class="header__title">
          Want anything to be easy with <span>LaslesVPN.</span>
        </h1>
        <p class="header__text">
          Provide a network for all your needs with ease and fun using
          <span>LaslesVPN</span> discover interesting features from us.
        </p>
        <button class="main__btn">get started</button>
      </div>
      <div class="col-lg-6 order-1 order-lg-2">
        <div class="header__img">
          <img src="./assets/images/header-img.webp" alt="Img" />
        </div>
      </div>
    </div>
  </div>
</header>
