// Color:

$white: #fff;
$black: #000;
$dark-black: #0b132a;
$gray: #4f5665;
$red: #f53838;

// Size:

$s14: 1.4rem;
$s16: 1.6rem;
$s18: 1.8rem;
$s25: 2.5rem;

// Fonts:

$base-font: 'Rubik', sans-serif;

// Media:

$lg: 1199px;
$md: 991px;
$sm: 767px;
$m: 575px;
$m414: 414px;
$m375: 375px;
$m320: 320px;
