@import 'vars';
@import 'mixins';

html {
  font-size: 62.5%;
}

body {
  font-size: $s16;
  color: $black;
  background-color: $white;
  font-family: $base-font;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.main__title {
  font-size: 3.5rem;
  font-weight: 500;
  line-height: 50px;
  text-align: center;
  color: $dark-black;
  margin-bottom: 1.7rem;
  padding: 0 5rem;
}

.main__text {
  line-height: 30px;
  text-align: center;
  color: $gray;
  padding: 0 4rem;
}

// BLOCKS:
@import 'blocks/header';
@import 'blocks/about';
@import 'blocks/provide';
@import 'blocks/plan';
@import 'blocks/network';
@import 'blocks/sponsored';
@import 'blocks/reviews';
